html {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

.select--success {
  & > div::after {
    border-bottom: 2px solid green;
    transform: scaleX(1);
  }
}
